name: Deployment

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

concurrency:
  group: deployment
  cancel-in-progress: true

jobs:
  deployment:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.0
      - uses: typst-community/setup-typst@v3
        with:
          typst-version: 0.14.0
      - run: |
          curl https://ridicorp.com/wp-content/themes/ridicorp/css/font/RIDIBatang.otf
          mkdir fonts;
          cp -r RIDIBatang.otf fonts;
      - run: ./scripts/src/prebuild.ts
        env:
          GH_TOKEN: ${{ github.token }}
      - run: mkdir www
      - run: typst compile --font-path fonts resume.typ www/index.pdf
      - run: typst compile --font-path fonts portfolio.typ www/portfolio.pdf
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: www
      - uses: actions/deploy-pages@v4
